{%extends "base.html" %}
{% load static %}
{%block content%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

<body>
    <form method="get" action="{% url 'download' %}">
        <label for="mrs_no">MRS No:</label>
        <input type="text" id="mrs_no" name="mrs_no">
        <button type="submit">SAP Download</button>
    </form>
    
</body>
{% endblock %}