<!DOCTYPE html>
{% extends "base.html" %}
{% block content  %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<style>
    .fa{
        font-size: 20px !important;
    }
    
</style>


</head>
    
</body>
</html>






















<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5" style="background:url('/static/images/hbg.JPG');font-size: 13px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav cfoot">
        <a class="nav-item nav-link" href="#">Associate information System</a>
        <a class="nav-item nav-link" href="#">Holidays</a>
        <a class="nav-item nav-link " href="#">Bus & Canteen Committee</a>
        <a class="nav-item nav-link " href="#">Common Extns/Mail Van</a>
        <a class="nav-item nav-link " href="#">Transport</a>
        <a class="nav-item nav-link " href="#">Welfare Calendar</a>
        <a class="nav-item nav-link " href="#">SAP T-Codes</a>
        <a class="nav-item nav-link " href="#">Raise A Request</a>
        <a class="nav-item nav-link " href="#"> KHOJ Datasheet</a>
        <a class="nav-item nav-link " href="#"> Vendor Directory</a>
        <a class="nav-item nav-link " href="#"> Drawings</a>
        <a class="nav-item nav-link " href="#"> KPI Dates</a>
      </div>
    </div>
  </nav>
  {%endblock%}