<nav class="navbar navbar-expand-lg " id="main_navbar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 border border-0 rounded-4"
          style="background-image:linear-gradient(#e5e8da, #bcdce3) ;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bolder_navigation_menu" href="#" role="button"
              data-bs-toggle="dropdown">
              Quality Management
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  " href="{{CI_BASE_URL}}/rewamp/index.php/reworkreport" >
                  Rework Report
                </a>
              </li>
              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  KAIZEN
                </a>
                <ul class="dropdown-menu">
                  <!--- default navbarmenu common for all -->
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/rewamp/index.php/kaizen">Kaizen Entry</a></li>
                  <li><a class="dropdown-item" href="#">GL/FR List </a></li>
                  <li><a class="dropdown-item" href="#">HoD List </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" data-bs-toggle="dropdown">
                  QCC/RIW
                </a>
              </li>

              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  MATERIAL MASTER
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">New Code Request</a></li>
                  <li><a class="dropdown-item" href="#">New Code for PCB</a></li>
                  <li><a class="dropdown-item" href="#">New Code for A Series</a></li>
                  <li><a class="dropdown-item" href="#">PCN Request</a></li>
                  <li><a class="dropdown-item" href="#">MM Desinger Pending List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  PRS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">PRS Edit</a></li>
                  <li><a class="dropdown-item" href="#">PRS Creation</a></li>
                  <li><a class="dropdown-item" href="#">PRS Updation</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  Testing PDFs
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Testing PDFs Sessions</a></li>
                  <li><a class="dropdown-item" href="#">Testing PDFs </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  OEE
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">TST</a></li>
                  <li><a class="dropdown-item" href="#">PCB </a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  MPLM Documents
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Documents Final Release</a></li>
                  <li><a class="dropdown-item" href="#">Documents DCD</a></li>
                  <li><a class="dropdown-item" href="#">Document Entry</a></li>
                  <li><a class="dropdown-item" href="#">Tdrive Doc Entry</a></li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      ECM Doc Entry
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Entry</a></li>
                      <li><a class="dropdown-item" href="#">List</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      Doc issue/return
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Request</a></li>
                      <li><a class="dropdown-item" href="#">DCD Process</a></li>
                      <li><a class="dropdown-item" href="#">Report </a></li>
                      <li><a class="dropdown-item" href="#">Other Documents</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Drawings Upload</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <!--- default navbarmenu common for all -->
                <a class="dropdown-item  dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  MPLM CFT
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Initiation meeting call</a></li>
                  <li><a class="dropdown-item" href="#">CFT Request</a></li>
                  <li><a class="dropdown-item" href="#">CFT MOM</a></li>
                  <li><a class="dropdown-item" href="#">CFT Review</a></li>
                  <li><a class="dropdown-item" href="#">CFT Review</a></li>
                  <li><a class="dropdown-item" href="#">Master Index </a></li>
                  <li><a class="dropdown-item" href="#">MBOM </a></li>
                  <li><a class="dropdown-item" href="#">Group mail Id </a></li>
                </ul>
              </li>
              {%if menuItem1.module_name is not None%}
              <!--- Condition navbarmenu-->
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" data-bs-toggle="dropdown">
                  PCB ASSEMBLY REWORK(INTRA)
                </a>
              </li>
              {%endif%}


              {%if menuItem23.module_name is not None%}
              <!--- Condition navbarmenu-->
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" data-bs-toggle="dropdown">
                  QCC/RIW
                </a>
              </li>
              {%endif%}



              {%if menuItem2.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" role="button" data-bs-toggle="dropdown">
                  TESTING
                </a>
              </li>
              {%endif%}




              {%if menuItem4.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" role="button" data-bs-toggle="dropdown">
                  Service Report
                </a>
              </li>
              {%endif%}
              {%if menuItem5.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item  " href="#" role="button" data-bs-toggle="dropdown">
                  REJECTION/REWORK
                </a>
              </li>
              {%endif%}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bolder_navigation_menu" href="#" role="button"
              data-bs-toggle="dropdown">
              Administration
            </a>
            <ul class="dropdown-menu">
              {%if menuItem43.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  User Privilages
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Associative User Privilages</a></li>
                  <li><a class="dropdown-item" href="#">Dept Wise </a></li>
                  <li><a class="dropdown-item" href="#">Associative Dept Wise </a></li>
                  <li><a class="dropdown-item" href="#">List of Modules</a></li>

                </ul>
              </li>
              {%endif%}

              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  FAI Reports
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">FAI Creation</a></li>
                  <li><a class="dropdown-item" href="#">FAI Vendor Creation</a></li>
                  <li><a class="dropdown-item" href="#">HOD Approval </a></li>
                  <li><a class="dropdown-item" href="#">FAI Form3 Creation </a></li>
                </ul>
              </li>


            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bolder_navigation_menu" href="#" role="button"
              data-bs-toggle="dropdown">
              Reports
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Rework Data Retrival(Inter)
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Review</a></li>
                  <!-- <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </ul>
                  </li> -->
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">PRS Report</a></li>

              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Production Online Rework Data
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Online Rework Data</a></li>
                  <li><a class="dropdown-item" href="#">Online Rework Slip</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Service Report List</a></li>
              <!-- <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/kaizen/reports">Kaizen</a></li> -->

              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Service Analysis Stage
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/reworkview">unit/sub
                      assembly level</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/reworklevel">S/A Rework
                      Level</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/componentlevel">Failed
                      Component Level</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/rootlevel">Root Cause &&
                      CA/PA Level</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/pselevel">PSE Comments
                      Level</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/service_report_new/FAGReports">FAG Reports</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/kaizen/reports">Kaizen</a></li>
              <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/kaizen/gl_reports">Kaizen GL Approval</a></li>
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  QCC/RIW Reports
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/qcc/qccreport">QCC/RIW Reports</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/qcc/qcc_dept/">QCC/RIW Summary Report</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/qcc/qcc_party/">QCC/RIW Emp List</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/rejectionrework/reports">Rejection/Rework Slip</a>
              </li>                       

              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Material Master reports</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom/reports">Material Master</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_material_change/pcnreports">PCN Reports</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_material_change/pcn_eol_reports">PCN EOL Reports</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_material_change/mmcrreports">MM Change Reports</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_alternate/mmarreports">Alternate Part Reports</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_alternate/mmaureports">Alternate Part Updation</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/igi/igireports">IGI Report</a></li>
                  <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/lom_alternate/singlescr_list">Signle source</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/fai/reports">FAI Reports</a></li>
              <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/kanban_mat/reports">Kanban Complaint Reports</a></li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                ECM V2 Report</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/ecmreportentry">ECM Report</a></li>
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/ecmreportall">ECM Dept Report</a></li>    
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/ecmreportalldept">ECM Common Report</a></li>   
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/prm">ECM PRM/KPI</a></li>   
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/ecmreportreview">ECM Review</a></li>    
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/iar">ECM IAR</a></li>    
                    <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/ecmreport/ecm_tentatv_date">ECM IVOI Target date</a></li>            
               </ul>
             </li>
             <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
              MBOM Reports</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/mbom_creation/mbom_creation_prjreports">Project Index</a></li>
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/mbom_creation/mbom_creation_bomreports">BOM Document</a></li>
              </ul>  
            </li> 
             <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
              MPLM Reports</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/drawing_tot/bomreportall">Documents Report</a></li>
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/drawing_tot/cftreportreview">CFT Report</a></li>                          
              </ul>  
            </li> 
            <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
              Testing PDFs</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/tps_mvs_815m/testingreport" >Testing PDF Report</a></li>
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/tps_mvs_815m/testingnewreport" >Testing PDF Report New</a></li>
                <li><a class="dropdown-item" href="{{CI_BASE_URL}}/index.php/tps_mvs_815m/testingsensorsreport" >Testing PDF Sensors</a></li>    
              </ul>
              </li>
            </ul>
          </li>
          

          


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bolder_navigation_menu" href="#" role="button"
              data-bs-toggle="dropdown">
              Samayam
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  ASS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Time Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Card</a></li>
                  <li><a class="dropdown-item" href="#">Apply Leave </a></li>
                  <li><a class="dropdown-item" href="#">Apply OD </a></li>
                  <li><a class="dropdown-item" href="#">Apply Permission </a></li>
                  <li><a class="dropdown-item" href="#">OD Reports </a></li>
                  <li><a class="dropdown-item" href="#">Permission Reports</a></li>
                </ul>
              </li>
              {%if menuItem84.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  HSS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Time Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Approval</a></li>
                  <li><a class="dropdown-item" href="#">OD Approval</a></li>
                  <li><a class="dropdown-item" href="#">OT Approval</a></li>

                </ul>
              </li>
              {%endif%}
              {%if menuItem84.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Admin
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Apply Leave </a></li>
                  <li><a class="dropdown-item" href="#">Apply OD </a></li>
                  <li><a class="dropdown-item" href="#">Apply Permission </a></li>
                  <li><a class="dropdown-item" href="#">Time Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Balance</a></li>
                  <li><a class="dropdown-item" href="#">OD Reports</a></li>
                  <li><a class="dropdown-item" href="#">OT Reports</a></li>
                  <li><a class="dropdown-item" href="#">Permission Reports</a></li>

                </ul>
              </li>
              {%endif%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Over Stay
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Register</a></li>
                  <li><a class="dropdown-item" href="#">OT on OD</a></li>
                  <li><a class="dropdown-item" href="#">Reports</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Shift Registration
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Register</a></li>
                  <li><a class="dropdown-item" href="#">Reports</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Work Flow Delegation</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bolder_navigation_menu" href="#" role="button"
              data-bs-toggle="dropdown">
              Dept Modules
            </a>
            <ul class="dropdown-menu">
              {%if menuItem84.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  EDP
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Apply Leave </a></li>
                  <li><a class="dropdown-item" href="#">Apply OD </a></li>
                  <li><a class="dropdown-item" href="#">Apply Permission </a></li>
                  <li><a class="dropdown-item" href="#">Time Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Card</a></li>
                  <li><a class="dropdown-item" href="#">Leave Balance</a></li>
                  <li><a class="dropdown-item" href="#">OD Reports</a></li>
                  <li><a class="dropdown-item" href="#">OT Reports</a></li>
                  <li><a class="dropdown-item" href="#">Permission Reports</a></li>

                </ul>
              </li>
              {%endif%}
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>