{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-block" style="overflow-x: auto;">
        <div class="card-header">
            <h5>Reimbursement Reports</h5>
            <span>No.of Records: {{subdatacount}}</span>
        </div>
        <!-- <h4 class="sub-title">Reimbursement</h4> -->
        <form action="showdata" method="post">
            {% csrf_token %}
            <div class="container">
                <table class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        
                    <tr>
                        <th>Ack No</th>
                        <th>journey Begin Date</th>
                        <th>journey End Date</th>
                        <th>Claming Amount</th>
                        <th>Journey Start Point</th>
                        <th>Journey End Point</th>
                        <th>Travel Mode</th>
                        <th>Class Of Travel</th>
                        <th>Ticket No</th>
                        <th>Raised By</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sel_item in subdata %}  
                    <tr>
                        <td>{{sel_item.1}}</td>
                        <td>{{sel_item.2|date:"d-m-Y"}}</td>
                        <td>{{sel_item.3|date:"d-m-Y"}}</td>
                        <td>{{sel_item.4}}</td>
                        <td>{{sel_item.5}}</td>
                        <td>{{sel_item.6}}</td>
                        {% if sel_item.7 == '6' %}
                        <td>TRAIN</td>
                        {% elif sel_item.7 == '7' %}
                        <td>BUS</td>
                        {% else %}
                        <td>AIR</td>
                        {% endif %}
                        <td>{{sel_item.14}}</td>
                        <td>{{sel_item.9}}</td>
                        <td>{{sel_item.13}}</td>
                        <td>{{sel_item.12|date:"d-m-Y H:i:s"}}</td>
                        <!-- <td>{{sel_item.timestamp}}</td> -->
                    </tr>
                    {% endfor %} 
                    </tbody>
                </table>
            </div>
        </form>
    </div> 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>
{% endblock content %}