{%load static%}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    ul li:hover>ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      
           
    }
    .dropdown-item {
      --bs-dropdown-link-hover-bg: #40ABA7 !important;
    }
    .bolder_navigation_menu{font-weight: bolder !important; color: #800080 !important; }

  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="{% static 'medhalogo_favicon.png'%}">
  <script src="{% static 'jquery/ajax_googleapi_jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui.css' %}">  
  <script src="{% static 'jquery/jquery-ui.js' %}"></script> 
  <link rel='stylesheet' href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-grid.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-grid.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-grid.rtl.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-grid.rtl.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.min.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.rtl.css'%}"> 
  <link rel="stylesheet" href="{%static 'css/bootstrap-reboot.rtl.min.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap-utilities.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap-utilities.min.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap-utilities.rtl.min.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">  
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <script src="{%static 'jquery/jquery-3.6.0.js'%}"></script>
  
  <!-- bootstrap static files   end-->

  <!-- javascript static files   start-->

  <!-- javascript static files   end-->

  <!-- jquery static src start -->
  
  <!-- jquery static src end -->


  {%if title%}
  <title>{{title}}-medha</title>
  {%else%}
  <title>medha</title>
  {%endif%}


</head>

<body class="row p-0 m-0 " style="background-color: #e3f5d8;overflow: hidden;">
  <!-- style="background-color: #edf7e7;" -->
  <div class="main_page col-sm-12 col-md-12 col-lg-12 p-0 m-0" style="position: sticky;z-index: 2;">
    <div class="header row p-0 m-0 " style="background-image: url('/static/header_backgruond.jpg');">
      <!-- style="background-image: url('/static/header_backgruond.jpg');" -->
      <div class="left_header col-sm-6 col-md-1 col-lg-1 p-0 me-4 ms-0 mb-0">
        <img src="{% static 'medha_logo.png' %}" alt="My image">
        <!-- <small style="color: #CC0000;">Quality Management >></small> -->
      </div>

      <div class="center_header col-sm-12 col-md-10 col-lg-10 p-0 m-0">
        <div class="mos_services row p-0 m-0">
          <div class="mos_name col-sm-12 col-md-4 col-lg-4 p-0 m-0 mt-0" style="margin-top: -8px !important;">
            <b style="color:#CC0000;font-family: 'Andy MT';font-size: 25px;margin-left: 10px;" size="+2">Medha Online
              Services</b>
          </div>
          <div class="mos_name col-sm-12 col-md-4 col-lg-4 p-0 m-0">
            <div class="employeName row p-0 m-0">
              <span class="text_welcome col-sm-12 col-md-9 col-lg-9 p-0 m-0 text-primary">Welcome : {{user|upper}}</span>
            </div>
          </div>
          <div class="mos_name col-sm-12 col-md-4 col-lg-4 p-0 m-0">
            <div class="employeName row p-0 m-0">
              <span class="text_welcome col-sm-12 col-md-8 col-lg-8 p-0 m-0">
                <!-- <a href="http://192.168.132.12/rewamp/index.php/loginpage/logout"  class="btn btn-outline-danger">Logout {% csrf_token %} </a> &nbsp;&nbsp;&nbsp;&nbsp; -->
                <a href="{%url 'logout'%}"  class="btn btn-outline-danger">Logout {% csrf_token %} </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{%url 'homepage'%}" class="btn btn-outline-success">GoHome</a></span>
            </div>
          </div>
          <div class="mos_name col-sm-12 col-md-12 col-lg-12 p-0 m-0">

            <!-- navbar section start -->

            <link rel="stylesheet" href="{%static 'jss/bootstrap.min.css' %}">
            <script src="{%static 'jss/bootstrap.bundle.min.js' %}"></script>

            <nav class="navbar navbar-expand-sm  navbar-dark p-0 m-0 ">
              <div class="container-fluid px-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav border border-0 rounded-4 " style="background-image:linear-gradient(#e5e8da, #bcdce3) ;">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown ">Quality Management</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Report Rework</a></li>
                        <li><a class="dropdown-item" href="#">Kaizen</a></li>
                        <li><a class="dropdown-item" href="#">QCC / RIW</a></li>
                        <li><a class="dropdown-item" href="#">Material Master</a></li>
                        <li><a class="dropdown-item" href="#">PRS</a></li>
                        <li><a class="dropdown-item" href="#">MPLM modules </a></li>
                        <li><a class="dropdown-item" href="#">Testing PDF 's</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown">Administration</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Inspection Report Master</a></li>
                        <li><a class="dropdown-item" href="#">User Privilages</a></li>
                        <li><a class="dropdown-item" href="#">FAI Reports</a></li>
                        <li><a class="dropdown-item" href="{%url 'apply_certificate'%}">Apply Certificate</a></li>
                        <li><a class="dropdown-item" href="{%url 'certificate_approvals'%}">Approval Pendings</a></li>
                        <li><a class="dropdown-item" href="{%url 'get_certificate'%}">Download Certificate</a></li>
                        <li><a class="dropdown-item" href="#">combine querysets</a></li>

                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown">Reports</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Rework Data</a></li>
                        <li><a class="dropdown-item" href="#">PO Approval</a></li>
                        <li><a class="dropdown-item" href="#">PRS Report</a></li>
                        <li><a class="dropdown-item" href="#">Service Report List</a></li>
                        <li><a class="dropdown-item" href="#">QCC /RIW</a></li>
                        <li><a class="dropdown-item" href="#">Kaizen</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown">Samayam</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">ASS</a></li>
                        <li><a class="dropdown-item" href="#">Overstay</a></li>
                        <li><a class="dropdown-item" href="#">Shift Registration</a></li>
                        <li><a class="dropdown-item" href="#">HELP</a></li>

                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown">Dept Modules</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">EDP</a></li>
                        <li><a class="dropdown-item" href="#">N & S</a></li>
                        <li><a class="dropdown-item" href="#">HR</a></li>
                        <li><a class="dropdown-item" href="#">Maintainance</a></li>
                        <li><a class="dropdown-item" href="#">Training </a></li>
                        <li><a class="dropdown-item" href="#">Factory Planning</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle  bolder_navigation_menu" href="#" role="button"
                        data-bs-toggle="dropdown">Old Modules</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">EDP</a></li>
                        <li><a class="dropdown-item" href="#">N & S</a></li>
                        <li><a class="dropdown-item" href="#">HR</a></li>
                        <li><a class="dropdown-item" href="#">Maintainance</a></li>
                        <li><a class="dropdown-item" href="#">Training </a></li>
                        <li><a class="dropdown-item" href="#">Factory Planning</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- navbar section end     -->
          </div>
        </div>


      </div>


      <!-- <div class="top_header col-sm-12 col-md-2 col-lg-2 p-0 m-0">
        <p></p>
      </div> -->
      <small style="color: #CC0000;" class="col-sm-12 col-md-12 col-lg-12 p-0 m-0 bg-light">Quality Management >>
        {{title}}</small>

    </div>

  </div>


  <div class="middle_content row p-0 m-0">
    <!-- <div class="col-sm-12 col-md-1 col-lg-1 p-0 m-0">

    </div> -->
    <div class="col-sm-12 col-md-12 col-lg-12 " style="overflow: auto;min-height: 82vh;height: 83.5vh;z-index: 1;">


      {%block content%}
      <h2 style="color: blue;"></h2> 
      
      
      <span class="text-center p-0 m-0 text-danger fs-5 " style="font-weight: 700;font-style: arial;">{{mess}}</span>
      
      
      {%endblock%}



    </div>
    <!-- <div class="col-sm-12 col-md-1 col-lg-1 p-0 m-0">

    </div> -->

  </div>
  </div>

  </div>

  
</body>

<footer>  
</footer>
{% include "footer.html" %}
</html>
